<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.hbq.manage.agent.dao.InstDao">
  <select id="queryAppInfos" parameterType="map" resultType="map">
    select name AS "name",
    a_desc AS "desc",
    tags AS "strTags",
    reg_time AS "regTime"
    from hbq_agent_app
    <where>
      <if test="name!=null and name!=''">
        <bind name="nameLike" value="'%' + name + '%'"/>
        and name like #{nameLike}
      </if>
    </where>
    order by name
  </select>
</mapper>
