<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.hbq.agent.app.dao.AgentDao">
  <insert id="saveAppInfo" parameterType="map">
    insert into hbq_agent_app(name, a_desc, tags, reg_time)
    values (#{name}, #{desc}, #{tags}, #{reg_time})
  </insert>

  <delete id="deleteAppInfo">
    delete
    from hbq_agent_app
    where name = #{name}
  </delete>

  <insert id="saveInstInfo" parameterType="map">
    insert into hbq_agent_instance(data_center, ip, host_name, port, process_no, tags, reg_time, app_name)
    values (#{data_center}, #{ip}, #{host_name}, #{port}, #{process_no}, #{tags}, #{reg_time}, #{app_name})
  </insert>

  <delete id="deleteInstInfo">
    delete
    from hbq_agent_instance
    where data_center = #{data_center}
      and app_name = #{app_name}
      and ip = #{ip}
      and port = #{port}
  </delete>

  <insert id="saveQuotaInfo" parameterType="map">
    insert into hbq_agent_quota(data_center, app_name, ip, port, quota_name, quota_desc, quota_unit,
                                quota_type, cycle_time, cycle_unit)
    values (#{data_center}, #{app_name}, #{ip}, #{port}, #{quota_name}, #{quota_desc}, #{quota_unit},
            #{quota_type}, #{cycle_time}, #{cycle_unit})
  </insert>

  <delete id="deleteQuotaInfo">
    delete
    from hbq_agent_quota
    where data_center = #{data_center}
      and app_name = #{app_name}
      and ip = #{ip}
      and port = #{port}
      and quota_name = #{quota_name}
  </delete>
</mapper>
