<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.hbq.agent.app.dao.AgentDao">
  <update id="createAppInfo">
    create table hbq_agent_app
    (
      name     varchar2(500) primary key,
      a_desc   varchar2(500),
      tags     varchar2(500),
      reg_time number(20)
    )
  </update>

  <update id="createInstInfo">
    create table hbq_agent_instance
    (
      data_center varchar2(500),
      ip          varchar2(500),
      host_name   varchar2(500),
      port        number(20),
      process_no  varchar2(50),
      tags        varchar2(500),
      reg_time    number(20),
      app_name    varchar2(500),
      primary key (data_center, ip, port, app_name)
    )
  </update>

  <update id="createQuotaInfo">
    create table hbq_agent_quota
    (
      app_name    varchar2(255),
      quota_name  varchar2(255),
      quota_desc  varchar2(255),
      quota_unit  varchar2(20),
      quota_type  varchar2(30),
      cycle_time  number(20),
      cycle_unit  varchar2(50),
      primary key (app_name, quota_name)
    )
  </update>

  <update id="createKafkaInAppRateLimiter">
    create table hbq_agent_kafkain_app_rl
    (
      app_name    varchar2(255) primary key,
      permits     number(20),
      update_time number(20)
    )
  </update>

  <update id="createKafkaInInstanceRateLimiter">
    create table hbq_agent_kafkain_inst_rl
    (
      data_center varchar2(255),
      app_name    varchar2(255),
      ip          varchar2(255),
      port        number(10),
      permits     number(20),
      update_time number(20),
      primary key (data_center, app_name, ip, port)
    )
  </update>
</mapper>
