<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.hbq.config.dao.ConfigDao">
  <update id="createConfigHistory">
    create table `hbq_config_history`
    (
      `user_name`    varchar
    (
      50
    ),
      `operate` varchar
    (
      50
    ),
      `op_time` BIGINT
      )
  </update>

  <update id="createBackupMain">
    create table `hbq_config_bk_main`
    (
      `id`      varchar
    (
      255
    ) primary key,
      `bk_time` BIGINT,
      `size`    BIGINT
      )
  </update>

  <update id="createBackupDetail">
    create table `hbq_config_bk_detail`
    (
      `id`    varchar
    (
      255
    ),
      `path`  varchar
    (
      255
    ),
      `name`  varchar
    (
      255
    ),
      `value` varchar
    (
      2000
    ),
      `bk_time` BIGINT,
      primary key
    (
      id,
      path,
      name
    )
      )
  </update>
</mapper>
