<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.hbq.manage.route.dao.RouteDao">
  <update id="createRouteConfig">
    create table `hbq_route_config`(
      `route_id` varchar(100) primary key,
      `uri` varchar(500),
      `predicates` varchar(1000),
      `filters` varchar(1000),
      `route_order` numeric(10)
      ) ENGINE=InnoDB DEFAULT CHARSET=utf8
  </update>
  <update id="createRouteTemplate">
    create table `hbq_route_template`
    (
      `t_id`    varchar(100) primary key,
      `name`         varchar(500),
      `uri`         varchar(500),
      `predicates`  varchar(1000),
      `filters`     varchar(1000),
      `t_order` numeric(10)
    ) ENGINE=InnoDB DEFAULT CHARSET=utf8
  </update>
</mapper>
