<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.hbq.manage.dict.dao.DictDao">
  <update id="createDictInfo">
    create table `hbq_dic_info`(
      `field_name` varchar(200) primary key,
      `field_desc` varchar(500),
      `enum_type` varchar(100)
      )
  </update>

  <update id="createDictExtKv">
    create table `hbq_dic_ext_kv`(
      `field_name` varchar(200),
      `enum_key` varchar(500),
      `enum_value` varchar(500),
      primary key (field_name, enum_key)
      )
  </update>

  <update id="createDictExtSql">
    create table `hbq_dic_ext_sql`(
      `field_name` varchar(200) primary key,
      `enum_sql` varchar(500)
      )
  </update>
</mapper>
